<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>CoderWall</h2>
	<div id="coderwall_badges">
		  <script
			type="text/javascript"
			src="http://coderwall-widget.appspot.com/coderwallbadges.js/eristoddle">
		  </script>
		  <script>
			new CoderwallWidget({
			  'color':'yourtextcolor',
			  'backgroundColor':'yourbgcolor',
			  'width':245,
			  'height':80
			});
		  </script>
	</div>
  </div>
</div>

